<ion-header>
  <ion-toolbar>
    <ion-title>
      Revista Medicina Veterinária
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/cadastro']" expand="block" color="primary">Cadastre-se</ion-button>

               <span class="already">Já está cadastrado?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>